// Catppuccin Mocha theme for Zellij
themes {
    catppuccin-mocha {
        bg "#1e1e2e"       // base
        fg "#cdd6f4"       // text
        red "#f38ba8"      // red
        green "#89b4fa"    // blue (changed for borders)
        blue "#89b4fa"     // blue
        yellow "#f9e2af"   // yellow
        magenta "#cba6f7"  // mauve
        orange "#fab387"   // peach
        cyan "#89dceb"     // sky
        black "#181825"    // mantle
        white "#f5e0dc"    // rosewater
    }
}